<div class="display-table-background">
  <div class="display-table-cell">
    <div class="auth-container">
      <h3>Обновить пароль</h3>

      <p class="text-center">Пожалуйста, введите свой адрес электронной почты, чтобы запросить сброс пароля.</p>

      <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="Почта"
               formControlName="email"
        />
        <div  class="validator-email-password" *ngIf="getFormControl('email').invalid && getFormControl('email').touched">
          <small *ngIf="forgotPasswordForm.get('email').errors.required">
            Поле пустое
          </small>
          <small *ngIf="forgotPasswordForm.get('email').errors.email">
            Поле должно быть типа "email""
          </small>
          <small *ngIf="forgotPasswordForm.get('email').errors.minlength">
            Почта должна быть не менее
            {{forgotPasswordForm.get('email').errors.minlength.requiredLength}}
            символов. Сейчас она
            {{forgotPasswordForm.get('email').errors.minlength.actualLength}}
            символа.
          </small>
          <small *ngIf="forgotPasswordForm.get('email').errors.maxlength">
            Почта должен быть не более
            {{forgotPasswordForm.get('email').errors.maxlength.requiredLength}}
            символов.
          </small>
        </div>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="form-group">
        <button
          type="submit" class="btn btn-primary" (click)="forgotPassword()">
          Обновить пароль
        </button>
      </div>
    </div>
    <div class="redirect-to-login">
      <span>Вернуться назад?
        <a><span class="redirect" routerLink="/sign-in">Войти</span></a>
      </span>
    </div>

  </div>
</div>
