<div class="display-table-background">
  <div class="display-table-cell">
    <div class="auth-container">
      <h3>Обновить пароль</h3>

      <p class="text-center">Пожалуйста, введите свой адрес электронной почты, чтобы запросить сброс пароля.</p>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Почта" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="form-group">
        <input type="submit" class="btn btnPrimary" value="Обновить пароль" (click)="forgotPassword()">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Вернуться назад? <span class="redirect" routerLink="/sign-in">Войти</span></span>
    </div>

  </div>
</div>
