<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Обновить пароль</h3>

      <p class="text-center">Пожалуйста, введите свой адрес электронной почты, чтобы запросить сброс пароля.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Почта" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Обновить пароль" (click)="authService.forgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Вернуться назад? <span class="redirect" routerLink="/sign-in">Войти</span></span>
    </div>

  </div>
</div>
