<div class="display-table-background">
  <div class="display-table-cell">
    <div class="auth-container">
      <h3>Вход</h3>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Логин"
          #userName
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Пароль"
          #userPassword
          required
        />
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input
          type="button"
          class="btn btnPrimary"
          value="Войти"
          (click)="authService.signIn(userName.value, userPassword.value)"
        />
      </div>

      <div class="form-group">
        <span class="separation-line"><span class="separation-line-inner">или</span></span>
      </div>

      <div class="forgot-password">
        <span routerLink="/forgot-password">Забыли пароль?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
      >Нет аккаунта?<span
        class="redirect"
        routerLink="/register-user"
      >
         Зарегистрироваться</span
      ></span
      >
    </div>
  </div>
</div>
