<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Вход</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Логин"
          #userName
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Пароль"
          #userPassword
          required
        />
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Войти"
          (click)="authService.signIn(userName.value, userPassword.value)"
        />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">или</span></span>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Забыли пароль?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
      >Нет аккаунта?<span
        class="redirect"
        routerLink="/register-user"
      >
         Зарегистрироваться</span
      ></span
      >
    </div>
  </div>
</div>
