<form class="display-table-background" [formGroup]="form" (ngSubmit)="submit()">
    <div class="display-table-cell">
      <div class="auth-container">
        <h3>Вход</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Логин"
            formControlName="email"
          />
          <div  class="validator-email-password" *ngIf="form.get('email').invalid && form.get('email').touched">
            <small *ngIf="form.get('email').errors.required">
              Поле пустое
            </small>
            <small *ngIf="form.get('email').errors.minlength">
              Логин должен быть не менее
              {{form.get('email').errors.minlength.requiredLength}}
              символов. Сейчас он
              {{form.get('email').errors.minlength.actualLength}}
              символа.
            </small>
            <small *ngIf="form.get('email').errors.maxlength">
              Логин должен быть не более
              {{form.get('email').errors.maxlength.requiredLength}}
              символов.
            </small>
          </div>
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Пароль"
            formControlName="password"
          />
          <div  class="validator-email-password" *ngIf="form.get('password').invalid && form.get('password').touched">
            <small *ngIf="form.get('password').errors.required">
              Поле пустое
            </small>
            <small *ngIf="form.get('password').errors.minlength">
              Пароль должен быть не менее
              {{form.get('password').errors.minlength.requiredLength}}
              символов. Сейчас он
              {{form.get('password').errors.minlength.actualLength}}
              символа.
            </small>
            <small *ngIf="form.get('password').errors.maxlength">
              Пароль должен быть не более
              {{form.get('password').errors.maxlength.requiredLength}}
              символов.
            </small>
          </div>
        </div>

        <!-- Calling SignIn Api from AuthService -->
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-primary"
            value="Войти"
            (click)="signInComponent()"
          />
        </div>

        <div class="form-group">
          <span class="separation-line"><span class="separation-line-inner">или</span></span>
        </div>

        <div class="forgot-password">
         <a>
           <span [routerLink]="['/forgot-password']">Забыли пароль?</span>
         </a>
        </div>
      </div>

      <div class="redirect-to-login">
      <span>Нет аккаунта?
        <a>
         <span class="redirect" [routerLink]="['/register-user']">Зарегистрироваться</span>
        </a>
      </span>
      </div>
    </div>
</form>

