<div class="display-table-background">
  <div class="display-table-cell">

    <div class="auth-container">
      <h3>Спасибо за регистрацию</h3>

      <div class="form-group" *ngIf="user as user">
        <p class="text-center">Мы отправили электронное письмо с подтверждением на <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Пожалуйста, проверьте свою электронную почту и нажмите на ссылку, чтобы подтвердить свой адрес электронной почты.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="form-group">
        <button type="button" class="btn btnPrimary" (click)="sendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Выслать повторно письмо для подтверждения
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Вернуться назад?<span class="redirect" routerLink="/sign-in"> Войти</span></span>
    </div>

  </div>
</div>
