table {
  width: 890px;
}
.mat-mdc-table {
  background: #4999d2;
}
.mat-mdc-paginator {
  background-color: #4999d2;
}
.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-bottom: 1px solid ;
  border-top: 1px solid ;

}
.image-github-profile {
  padding: 2px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.mat-column-position,
.mat-column-login,
.mat-column-img,
.mat-column-id,
.mat-column-url  {
  font-size: 20px;
  text-align: center;
}

