<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="page-flex-row">
    <div class="navigation-bar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <div class="nav-text-position" *ngFor="let name of navBarDate">
            {{name.title}}
            <div *ngFor="let link of name.link">
              <a [routerLink]="['/' + (link.label | lowercase)]"
                 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                {{link.label}}
              </a>
            </div>
            <div>
              <a (click)="signOut()">
                Log out
              </a>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <!-- Main content -->
    <div class="main">
      <div  *ngIf = '(userProfile$ | async) as userProfile' >
        <div class="media-body">
          <img class="avatar-image" [src]='userProfile.avatar_url | safe: "url"' alt="userPhoto">
            <p>User name: <strong>{{userProfile.name}}</strong></p>
            <p>Location: <strong>{{(userProfile.location) ? userProfile.location: 'Unknown'}}</strong></p>
            <p>Github profile: <strong>{{userProfile.url}} | </strong></p>
            <p>Company: <strong>{{(userProfile.company) ? userProfile.company: 'Unknown'}}</strong></p>
            <p>Blog: <strong>{{(userProfile.blog) ? userProfile.blog: 'Unknown'}}</strong></p>
            <button type="button"  mat-raised-button color="primary" routerLink="/users">
              Back
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

